.list {
  padding-left: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  max-width: 320px;
}

.item span {
  margin-right: 12px;
}

.buttonDelete:hover,
.buttonDelete:active {
  background-color: rgb(53, 53, 51);
  color: #ffffff;
}
